# Python Virtual Environment
venv/
.venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
data
models
.env

# Distribution / packaging
dist/
build/
*.egg-info/
